/*
This stylesheet was written by VideoCarp, do not copy the exact thing, modification is allowed.
*/

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #222;
  color: #3484fd;
  overflow-x: hidden; 
  padding: 5px;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sidebar {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #cfcfcf;
    color: #3484fd;
    overflow-x: hidden; 
    padding: 5px;
  }
}

.cntr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
a{color:#3484fd;}


sbh{font-size:24px;} /* Sidebar header */

.pagefull {
    display: block;
    width: 100vw;
    height: 100vh;
}
